$black: #000000;
$lblack: #221E1C;

$grey: #888888;
$lgrey: #cdcdcd;
$hovergrey: #F7F7F7;

$orange: #DD4814;
$orangehover: #D24413;
$red: #DC322F;
$yellow: #ECA918;
$blue: #19B6EE;
$green: #38B44A;

.grey {
	color: $grey;
}

.orange {
	color: $orange;
}