.row {
	width: 950px;
	height: 9px;
	padding: 20px 10px;
	border-bottom: 1px dotted $lgrey;
    cursor: pointer;
    &:hover {
    	background: white;
    	box-shadow: 0 1px 4.85px 0.15px rgba(0,0,0,0.2);
    }
	p {
		width: 950px;
		opacity: 1;
		display: block;
		text-align: center;
		position: absolute;
		line-height: 0.8;
		-webkit-transition: all .3s;
    	transition: all .3s;
    	z-index: 10;
	}
}

.row-start {
	border-top: 1px solid $lgrey;
}

.row-end {
	border-bottom: 1px solid $lgrey;
}

.expand {
	cursor: pointer;
}

.row-expand {
	height: 400px;
	p {
		transform: translateY(20px);
	}
	&:hover {
    	background: none !important;
    	box-shadow: none !important;
    }
}

.row-content {
	height: 29px;
	background: white;
	opacity: 0;
	-webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 2px;
    box-shadow: 0 1px 4.85px 0.15px rgba(0,0,0,0.2);
}

.content-reveal {
	height: 400px;
	opacity: 1;
}