/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_colour.scss */
.grey {
  color: #888888;
}

/* line 19, ../sass/_colour.scss */
.orange {
  color: #DD4814;
}

/* line 1, ../sass/_typography.scss */
html {
  font-family: 'Ubuntu', sans-serif;
}

/* line 5, ../sass/_typography.scss */
h1 {
  font-size: 45px;
  font-weight: 300;
}

/* line 10, ../sass/_typography.scss */
h2 {
  padding: 0 0 20px 20px;
  border-bottom: 1px solid #cdcdcd;
  font-size: 23px;
  font-weight: 300;
  color: #000000;
}

/* line 18, ../sass/_typography.scss */
h3 {
  padding: 13px 0;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}

/* line 25, ../sass/_typography.scss */
p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

/* line 31, ../sass/_typography.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  padding-left: 5px;
  color: #DD4814;
}
/* line 6, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 37, ../sass/_typography.scss */
.list-item {
  float: left;
}

/* line 41, ../sass/_typography.scss */
.list-item::after {
  content: '\2022';
  padding: 0 5px;
}

/* line 46, ../sass/_typography.scss */
.last-list-item::after {
  content: '' !important;
}

/* line 50, ../sass/_typography.scss */
.text-orange {
  color: #DD4814;
}

/* line 1, ../sass/_main.scss */
body {
  max-width: 950px;
  margin: 0 auto;
  padding: 120px 0;
  background: #F7F7F7;
}

/* line 1, ../sass/_row.scss */
.row {
  width: 950px;
  height: 9px;
  padding: 20px 10px;
  border-bottom: 1px dotted #cdcdcd;
  cursor: pointer;
}
/* line 7, ../sass/_row.scss */
.row:hover {
  background: white;
  box-shadow: 0 1px 4.85px 0.15px rgba(0, 0, 0, 0.2);
}
/* line 11, ../sass/_row.scss */
.row p {
  width: 950px;
  opacity: 1;
  display: block;
  text-align: center;
  position: absolute;
  line-height: 0.8;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 10;
}

/* line 24, ../sass/_row.scss */
.row-start {
  border-top: 1px solid #cdcdcd;
}

/* line 28, ../sass/_row.scss */
.row-end {
  border-bottom: 1px solid #cdcdcd;
}

/* line 32, ../sass/_row.scss */
.expand {
  cursor: pointer;
}

/* line 36, ../sass/_row.scss */
.row-expand {
  height: 400px;
}
/* line 38, ../sass/_row.scss */
.row-expand p {
  transform: translateY(20px);
}
/* line 41, ../sass/_row.scss */
.row-expand:hover {
  background: none !important;
  box-shadow: none !important;
}

/* line 47, ../sass/_row.scss */
.row-content {
  height: 29px;
  background: white;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 2px;
  box-shadow: 0 1px 4.85px 0.15px rgba(0, 0, 0, 0.2);
}

/* line 57, ../sass/_row.scss */
.content-reveal {
  height: 400px;
  opacity: 1;
}
